*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

header, footer{
    background-color:black;
    color:white;
    height: 100px;

}

header > img{
        width: 100px;
        height: 100px;
        transition: 0.2s transform;
}
 


article{
    width: 60vw;
    margin: 0 auto;
    padding:40px;
}

img{
    width: 100%;
}


@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }
    footer >p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .top{
        width:60px;
        height:60px;
        bottom:60px;
        right:60px;
    
    }

    header{
        height:auto;
    }
}

@media screen and (max-width: 600px) {
    body{
     font-size:16px;
    }
     article{
         width:100vw;
         padding: 20px;
 
     }
     h1{
         font-size:180%;
     }
     footer >p{
         width:100vw;
         padding-left:20px;
 
     }
 }



 body
{
    min-height: 100vh;
    background-image: url("./IMG/achtergrond2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.geschiedenis
{
    background: white;
    width: 50vw;
    padding: 20px;
}


p  
{
    color: crimson;
    font-size: large;
}

h2
{
    color: sienna;
}

.openingtijd
{
    text-align: right;
    color: aqua;
    font-size: xx-large;
}

.adress
{
    text-align: left;
    color: purple;
    font-size: xx-large
}

.hand
{
    object-position: top right;
}