* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background: #fff;
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 0 15px;
   
}


a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}


.navbar {
    background: white;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;

}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #4891ff;
}

main {
    padding: 40px;

}

h1 {
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: 500;
}

h4 {
    font-size: 200%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: 500; 
}


.nxtmuseum .geschiedenis .wat .Reviews {
    width: 60vw;
    margin: 0 auto;
    padding: 40px;

}



img:hover {
    transform: scale(1.05);
}

img {
    border-radius: 5px;
    transition: 0.2s transform;
}

.img{
    display: flex;
    justify-content: space-between;
}

.intro{
  display: flex;
  align-content: space-around;
   
}


.Reviews{
    display: flex;
}
p {
    margin-bottom: 40px;
}

footer {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    
  

}

.tickets{
    display: flex;
}







@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    article {
        width: 100vw;
        padding: 20px;

    }

    h1 {
        font-size: 180%;
    }

    footer>p {
        width: 100vw;
        padding-left: 20px;

    }
}