body
{
    min-height: 100vh;
    background-image: url("./IMG/achtergrond2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.geschiedenis
{
    background: white;
    width: 50vw;
    padding: 20px;
}


p  
{
    color: crimson;
    font-size: large;
}

h2
{
    color: sienna;
}

.openingtijd
{
    text-align: right;
    color: aqua;
    font-size: xx-large;
}

.adress
{
    text-align: left;
    color: purple;
    font-size: xx-large
}

.hand
{
    object-position: top right;
}